.footer-container {
    /*padding: 2% 10%;*/
    background: white;
    color: black;
    display: grid;
    font-size: 13px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(8, 1fr);
    letter-spacing: -.25px;
    line-height: 13px;
    padding: 16px 0;
}

.footer-links-container {
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(8, 1fr);
}

.footer-button {
    /* border: 1px solid white;*/
    grid-column: 6/7;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.links-container {
    color: grey;
    display: flex;
    flex: 4;
    letter-spacing: .5px;
    margin: 6px 0;
}

.box-1 {
    /*background: yellow;*/
    grid-column: 3/6;
}

.box-2 {
    /*flex:1;*/
    margin-right: 16px
}

.box-3 {
    /*flex:1;*/
    margin-right: 16px
}

.box-4 {
    /*flex:1;*/
    margin-right: 16px
}

@media screen and (max-width: 480px) {
    .footer-container {
        /*padding: 2% 10%;*/
        display: grid;
        font-size: 12px;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(8, 1fr);
        line-height: 14px;
        padding: 16px 0;
    }

    .footer-links-container {
        color: black;
        display: grid;
        grid-column: 1/9;
        grid-template-columns: repeat(8, 1fr);
        letter-spacing: -.25px;
        line-height: 14px;
    }

    .footer-button {
        /*background: yellow;*/
        font-size: 14px;
        font-weight: 600;
        grid-column: 8/9;
        margin-right: 16px;
        padding-top: 20px;
        width: 110px;
    }

    .footer-caret {
        display: inline-block;
        margin-left: 8px;
        margin-top: 0px;
        width: 11px;
    }

    .links-container {
        /*letter-spacing: .5px;*/
        display: flex;
        flex: 4;
        margin: 6px 0;
    }

    .box-1 {
        /*background: yellow;*/
        /*border: 1px solid yellow;*/
        /*letter-spacing: 1;*/
        font-size: 13px;
        font-weight: 600;
        grid-column: 1/8;
        line-height: 14px;
        margin: 0 20px;
        width: 220px;
    }

    .box-2 {
        /*flex:1;*/
        margin-right:0; 
    }

    .box-3 {
        /*flex:1;*/
        float: right;
    }

    .box-4 {
        /*flex:1;*/
        margin-right:0;
    }
}
