.home-page {
}


.home-page h2 {
    color: #4c4c4c;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .25em;
    line-height: 1.1;
}


/*.home-page h3 {
    font-size: 1.3em;
    margin: 2rem 0 0 0;
    display: inline-block;
    color: #4c4c4c;
    position: relative;
}*/

.home-page .dropdown {
    color: #508fcc;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -.5px;
    text-align: left;
    justify-content: left;
    line-height: 3rem;
}

.dropdown-home {
    display: flex;
    width: auto;
    margin: 0 0;
}

/*.selected {
    background: yellow;
}*/

.home-page .dropdown .caret {
    font-size: 2.2em;
}

.home-page-caret {
    padding-top: 10px;
    padding-left: 10px;
}

.toggle-copy {
    padding-top: 50px;
    font-weight: 600;
    height: 50;
}

.go-button {
    background: #508fcc;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .15em 2.1em;
    text-align: center;
    margin: 0 auto;
}

.toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: .5em 0 3rem 0;
}

.toggle-container .role {
    margin-left: .3em;
}

.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2em;
    font-weight: 700;
}

/*/++*/

.switch {
    border: 1px solid #bbb;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

.switch-toggle {
    border: 3px solid #9f9f9f;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 25px;
    left: -.2em;
    bottom: 2px;
    border-radius: 20px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.switch.on {
    background: #508fcc;
}

.switch.on .switch-toggle {
    left: 21px;
    bottom: 2px;
}

.home-page-blurb > div {
    margin: 0em 0em 30% 0;
    text-align: center;
}

.blurb-copy {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 3em;
    color: #9f9f9f;
}



@media screen and (max-width: 470px) {

.home-page h2 {
    font-size: 2.4em;
     margin-top: 2em;
} 

.home-page .dropdown {
    font-size: 2.4rem;
    line-height: 2.2rem;
}

.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.1em;
}

.toggle-copy-container{
    height: 9rem;
}



    .toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: .5em 0 3rem 0;
}

.go-button {
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: 1.5rem 2.1em;
    text-align: center;
    margin: 0 auto;
}

.home-page-blurb {
    display: inline-block;
    color: #9f9f9f;
    font-size: .8rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: 10% 0em;
    text-align: center;
}


.home-page-blurb > div {
    color: #9f9f9f;
    font-size: .9rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: 1.5em 0em;
    text-align: center;
}
.blurb-copy {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 3em;
}
}


@media screen and (max-width: 410px) {

    .home-page h2 {
    font-size: 2.1em;
    margin-top: 1.1em;  
    }

    .home-page .dropdown {
    font-size: 2.2rem;
}

.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2.1em;
    font-weight: 700;
    line-height: 1.1em;
}

  .home-page h3 {
    font-size: 1.1em;
    margin: 3rem 0 1rem 0;
    display: inline-block;
    color: #4c4c4c;
    position: relative;
}
    .go-button {
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .7em 2.1em;
    text-align: center;
    margin: 0 auto;
}

    .toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

.toggle-copy {
    font-size: 1.1em;
    padding-top: 50px;
    font-weight: 600;
}

.home-page-blurb > div {
    color: #9f9f9f;
    font-size: .9rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: 1.2em 0em;
    text-align: center;
}

.blurb-copy {
    padding: 0 3em;
}

}

@media screen and (max-width: 350px) {
    .home-page h2 {
    font-size: 2em;
     margin-top: 1em;
    }


    .toggle-copy-container{
    height: 3rem;
}

  .home-page h3 {
    font-size: 1em;
    margin: 2rem 0 1.5rem 0;
    display: inline-block;
    color: #4c4c4c;
    position: relative;
}

    .go-container {
        padding-top: 1em;
        height: 0px;
    }

    .go-button {
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .6em 2.1em;
    text-align: center;
    margin: 0 auto;
}


.home-page-blurb {
    display: inline-block;
}

.home-page-blurb > div {
    color: #9f9f9f;
    font-size: .8rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: 5em 0 0 0em;
    text-align: center;
}


.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
}


.toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0em 0 0rem 0;
}

.toggle-copy {
    padding-top: 1.8rem;
    font-weight: 600;
    height: .6em;
}

@supports not (-webkit-overflow-scrolling: touch) {
    .mobile-dropdown {
        display: none;
    }

    }

}



