.home-page h2 {
    color: #4c4c4c;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 2.5em;
    margin-bottom: .25em;
    line-height: 1.1;
}
.home-page h3 {
    font-size: 1.3em;
    grid-column: 2/2;
    grid-row: 3/3;
    margin: 1.5em 0 0 0;
    display: flex;
    color: #4c4c4c;
}

.home-page .dropdown {
    color: #508fcc;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: -.5px;
    text-align: left;
    justify-content: left;
}

.home-page .dropdown .caret {
    font-size: 2.2em;
}

.toggle-copy {
    font-weight: 600;
    
}
.go-button {
    background: #508fcc;
    border-radius: 8px;
    color: white;
    cursor: pointer;
 /*   display: inline-block;*/
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .15em 2.1em;
    text-align: center;
    margin: 0 auto;
}
.toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: .5em 0 3em 0;
}
.toggle-container .role {
    margin-left: .3em;
}

.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2.4em;
    font-weight: 700;

}


/*/++*/

.switch {
    border: 1px solid #bbb;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

.switch-toggle {
    border: 3px solid #9f9f9f;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 25px;
    left: -.2em;
    bottom: 2px;
    border-radius: 20px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.switch.on {
    background: #508fcc;
}

.switch.on .switch-toggle {
    left: 21px;
    bottom: 2px;
}

/*++*/



.home-page-blurb {
    grid-column: 1/4;
    grid-row: 6/6;
}
.home-page-blurb > div {
    color: #9f9f9f;
    font-size: 1rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: 0 10%;
    text-align: center;
}
.links {
    font-weight: 700;
    grid-column: 1/3;
    grid-gap: 25%;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}
.blurb-copy {
    color: #ccc;
    grid-column: 1/4;
    grid-row: 1/1;
    padding-top: 32px;
}

.weight-700 {
    font-weight: 700;
}



@media screen and (max-width: 750px) {
    .home-page h2 {
        font-size: 2.5em;
        margin-top: .5em;
    }

    .home-page .dropdown {
    font-size: 2.5em;

}

    .home-page h3 {
        font-size: 1em;
    }
}

/*iphone x*/
@media screen and (max-width: 667px) {
    .home-page h2 {
        font-size: 2.5em;
        margin-top: .5em;
    }

    .home-page .dropdown {
    font-size: 2.5em;
}

    .home-page h3 {
        font-size: 1em;
    }
}


@media screen and (max-width: 414pt) {
    .home-page h2 {
        font-size: 2.5em;
        margin-top: .5em;
    }

    .home-page .dropdown {
    font-size: 2.5em;
}

    .home-page h3 {
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {
    .home-page h2 {
        font-size: 2.1em;
        margin-top: .3em;
    }

    .home-page .dropdown {
    font-size: 2.1em;
}

    .home-page h3 {
        font-size: 1.2em;
    }

    .toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: .5em 0 3em 0;
}

    .go-button {
    border-radius: 8px;
    color: white;
    cursor: pointer;
 /*   display: inline-block;*/
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .15em 2.1em;
    text-align: center;
    margin: 0 auto;
}


.home-page-blurb {
    margin-top: 0em;
}

.home-page-blurb > div {
    color: #9f9f9f;
    font-size: .8rem;
    letter-spacing: -.01em;
    line-height: 1.4em;
    margin: -1.5em 4%;
    text-align: center;
}


@supports not (-webkit-overflow-scrolling: touch) {
    .mobile-dropdown {
        display: none;
    }

    }








}
