/*Desktop*/

.home-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto;

}

.headline-container {
    grid-row: 2/2;
}


.home-page h2 {
    color: #4c4c4c;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

.home-page .dropdown {
    color: #508fcc;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -.5px;
    text-align: left;
    justify-content: left;
    line-height: 3rem;
}

.dropdown-home {
    display: flex;
    width: auto;
    margin: 0 0;
}


.home-page .dropdown .caret {
    font-size: 2.2em;
}

.home-page-caret {
    padding-top: 10px;
    padding-left: 10px;
}

.toggle-copy-container {
    grid-row: 3/3;
}

.toggle-copy {
    font-weight: 600;
    margin: 25% 0 0 0;
}

.toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1em 0 0 0;
}

.toggle-container .role {
    margin-left: .3em;
}


.home-page-blurb {
    grid-row: 4/4;
}

.go-button {
    background: #508fcc;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 0 0 0 0;
    padding: .15em 2.1em;
    text-align: center;
    margin: 1em auto;
}

/*.mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 2em;
    font-weight: 700;
}*/


.switch {
    border: 1px solid #bbb;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

.switch-toggle {
    border: 3px solid #9f9f9f;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 25px;
    left: -.2em;
    bottom: 2px;
    border-radius: 20px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.switch.on {
    background: #508fcc;
}

.switch.on .switch-toggle {
    left: 21px;
    bottom: 2px;
}

.home-page-blurb > div {
    margin: 0em 0em 8% 0;
    text-align: center;
}

.blurb-copy {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 3em;
    color: #9f9f9f;
}

/*Desktop End*/

@media (min-width: 768px) and (max-width: 1024px) {
    .home-page {
    grid-template-rows: 6em auto;
}





}

@media screen and (max-width: 470px) {

    .home-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3em auto;

}
    .headline-container {
    grid-row: 2/2;
}

    .home-page h2 {
    font-size: 2.5em;
} 

    .home-page .dropdown {
    font-size: 1em;
    }

    .mobile-dropdown-home {
    color: #508fcc;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: 0em;
}

    .toggle-copy {
    font-weight: 600;
    margin: 10% 0 0 0;
}

    .go-button {
    margin: 1em 0 1em 0;
}

    .home-page-blurb > div {
    margin: 0 0 0 0;
    text-align: center;

}
    .blurb-copy {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 2em;

}
    .selected svg {
    margin-top: 4%;
    }
}

@media screen and (max-width: 410px) {
    .home-page h2 {
    font-size: 2.3em;
    }

    .mobile-dropdown-home {
    font-size: 2.3rem;
    text-align: left;
    color: #508fcc;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: -.05em;
}
    .toggle-copy {
    font-weight: 600;
    margin: 16% 0 0 0;
}

    .go-button {
    margin: .8em 0 .5em 0;
}
    .blurb-copy {
    font-size: .8rem;
    line-height: 1.1rem;
    padding: 0 2em;

}
}

@media screen and (max-width: 350px) {

     .home-page {
    grid-template-rows: 1.7em auto;

}
     .home-page h2 {
    font-size: 1.8rem;
    }

    .mobile-dropdown-home {
    text-align: left;
    color: #508fcc;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: .25em;
}

    .toggle-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: .8em 0 0 0;
}

    .toggle-container .role {
    margin-left: .8em;
    font-size: 1em;
    font-weight: 300;
}

    .toggle-copy {
    font-size: 1em;
    font-weight: 600;
    margin: 8% 0 0 0;
}

    .go-button {
    font-size: 2rem;
    font-weight: 700;
    padding: .15em 2.1em;
    text-align: center;
    margin: .8em 0 .6em 0;
}





}


