
.patient-alt-container-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.wifi {
    background: red;
}
.patient-alt-container-grid > div{
    background: #eee;
    padding: 1em;
}
.nested > div {
    display: grid;
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0 0 0;
}
.patient-alt-container-grid > div:nth-child(odd){
    background:#ddd;
}
.alt-header {
    background: red;
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0 0 0;
}
.alt-copy {
    color: #737373;
    margin: 10px 0 0 0;
    max-width: 420px;
    text-align: center;
}
.alt-image {
    margin: 20px 0 30px 0;
}
