.stage-row {
    display: inline-block;
}
.question-panel {
    background: #8B8B8B;
    flex: 1 auto;
    height: 100%;
    margin: 3% auto 0 auto;
    text-align: center;
}
.question-controls {
    margin: 0 auto;
    width: 382px;
}
.input-button1 {
    color: white;
    flex: 1 0 auto;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0px;
    padding: 1em 1.5em;
}
.input-button-age {
    border-bottom: 1px solid white;
    color: white;
    flex: 1 0 40%;
    font-size: 16pt;
    margin-top: 4px;
    padding: 1em 5em;
}
.input-button-stage {
    color: white;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    font-size: 16pt;
    font-weight: 500;
    margin: 10px;
    padding: 1em 0em;
}
.input-button-grade {
    color: white;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    font-size: 15pt;
    font-weight: 500;
    margin: 0px 50px;
    padding: 1em 0em;
}
.input-button2 {
    background-color:blue;
    color: white;
    margin: 5px;
    stroke: red;
}
.input-button-diagnosed {
    color: white;
    margin: 0 auto;
    padding: .5em 2em;
    width: 15%;
}
.survey-hairline {
    margin: 4% 0px;
}
.time-unit {
    border: dotted 1px red;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: .08em
    margin-top: -2px;
    width: 100%;
}
.diagnosed-number {
    font-size: 18px;
    font-weight: 600; 
}

.tippy-touch { cursor: pointer !important; }

.tippy {
    background: red;
}

@media screen and (max-width: 480px) {
    .question-panel {
        background: #8B8B8B;
        flex: 1 auto;
        height: 100%;
        margin: 3% auto 0 auto;
        text-align: center;
    }
}
