.question-drawer-container {
    background: #f2f2f2;
}

.question-drawer {
    padding-bottom: 3em;
    max-width: 540px;
    margin: 0 auto;
}

.unanswered-row {
    background: grey;
    margin: 0 5px;
}
.variable-row {
    align-items: center;
    display: grid;
    grid-gap: .75%;
    grid-template-columns: 15% auto;
    padding-bottom: 2em;
    padding-top: 2em;
}
.icon-label {
    align-items: center;
    margin-left: 0em;
}

.deselect-container {
    display: flex;
}

.deselect-button {
    color: #808080;
    font-size: .6em;
    font-weight: 100;
    letter-spacing: 1.5px;
    flex: 1;
    text-align: center;
    margin-top: .5em;
    padding: .5em 0;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}

.variable-icon.answered {
    opacity: 1;
}

.variable-name {
    align-items: center;
    color: #508fcc;
    display: flex;
    font-weight: 600;
    justify-content: center;
    opacity: .3;
    text-align: center;
    transition: opacity .3s ease;
    margin-top: .25em;
}
.variable-name.answered {
    opacity: 1;
}
.input-area {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    justify-content: center;
    padding-left: 3.5em;
/*    padding-right: 1em;*/
}
.variable-icon {
    display: block;
    display: flex ;
    margin-left: auto;
    margin-right: auto;
    opacity: .3;
    transition: opacity .3s ease;
}
.customized-panel {
    border: 3px solid green;
    display: flex;
}
.input-panel {
    border: 2px solid blue;
    display: flex;
    width: 100%;
}
.button-u {
    align-items: center;
    border-radius: 14px;
    border: 3px solid grey;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    justify-content: center;
    margin: 4px;
    padding: 14px 0;
    position: relative;
    text-align: center;
}
.button-u:hover {
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-position: 100% 0;
    border-radius: 14px;
    border: 3px solid purple;
    moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.button-u:focus {
    outline: none;
}
.button-survey {
    align-items: center;
    border-radius: 14px;
    border: 3px solid #CCCCCC;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    letter-spacing: -0.01em;
    padding: 1.2rem 2rem;
    margin: .2em;
    position: relative;
    text-align: center;
    min-width:  0px;
    max-width: auto;
    max-height: 16px;
}

.button-survey:hover{
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-position: 100% 0;
    border-radius: 14px;
    border: 3px solid #508fcc;
    moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.button-survey.active {
    color: white;
    background-color: #508fcc;
    border: 3px solid #508fcc;
}
.unanswered-button {
    height: 24px;
    display: flex;
}
.variable-icon {
    width: 40px;
}
.input-field {
    border:none;
    height: 35px;
    outline: 0;
    width: 100%;
}
.diagnosis .handle .label {
    bottom: 2.5em;
    left: calc(-3.5em + 14px);
    position: absolute;
    text-align: center;
    width: 7em;
    background: red;
}

.link-styling  a {
    color: white;
    text-decoration: underline; ;
    font-weight: 600;
}

@media screen and (max-width: 468px) {
   
   .variable-row {
    grid-template-columns: 20% auto;
    }

    .input-area {
    padding-left: 2.5em;
    padding-right: 0em;
    }

    .button-survey {
    font-size: .9rem;
    line-height: .9rem;
    padding: 1rem 4rem;
    align-items: center;
    letter-spacing: -0.03em;
    padding: 1rem 0rem;
/*  margin: .4em;*/
    text-align: center;
/*  min-width:  120px;*/
    max-width: auto;
    max-height: 16px;
    }

    .stack-buttons {
    display: block;
    }

    .icon-label {
    align-items: center;
    margin-left: 0em;
}

.variable-icon {
    width: 36px;
}

}

/*
@media screen and (max-width: 1200px) {
    .input-area {
        padding-left: 1em;
        padding-right: 1em;
    }
    .variable-row {
        align-items: center;
        display: grid;
        font-size: 14px;
        grid-gap: 5%;
        grid-template-columns: 18% auto;
        padding-bottom: 2em;
        padding-top: 2em;
    }
    .icon-label {
        align-items: center;
    }
    .variable-icon.answered {
        opacity: 1;
    }
    .variable-name {
        align-items: center;
        align-items: center;
        color: black;
        display: flex;
        font-weight: 600;
        justify-content: center;
        opacity: .3;
        transition: opacity .3s ease;
    }
    .variable-name.answered {
        opacity: 1;
    }
    .button-survey {
        padding: 20px em;
        margin: .4em;
    }
    .variable-icon {
        width: 18px;
        height: 18px;
    }
    .icon-label {
        align-items: center;
        width: 60px;
    }
}*/

/*@media screen and (max-width: 410px) {
    .variable-row {
        grid-template-columns: 18% auto;
    }
    .icon-label {
        align-items: center;
        margin-left: .5em;
    }
}*/
