.title-bar {
    background: #551A8B;
    transition: all .5s ease;
    padding: .5em 0;
}
.title-bar-container {
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.toggle-switch-container {
    grid-column: 1/2;
}
.toggle-switch.switch {
    border: 1px solid #bbb;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}
.toggle-switch.switch.on {
    background: #542e89;

}

.toggle-switch.switch.on > .switch-toggle {
    left: 23px;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
}
.role {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
}
.role.patient {
}
.title-dropdown-container {
    grid-column: 2 / span 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-dropdown {
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    min-width: 100%;
    text-align: center;
    justify-content: center;

}
select.title-dropdown {
    box-sizing: border-box;
    color: white;
    font-family: 'Muli';
    text-align-last: center;
    text-align: center;
    width: 100%;
}
.title-bar .dropdown .caret {
    fill: white;
}
.share-container {
    grid-column: 8/8;
    position: relative;
    text-align: right;
}
.share-button {
    width: 30px;
}
.share-button-transparent {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 800px) {
/*    .toggle-switch.switch {
        position: absolute;
        background: #E1E8F4;
        width: 50px;
    }

    .toggle-switch.switch.on > .switch-toggle {
        left: 23px;
        -webkit-transition: left .2s ease-in-out;
        transition: left .2s ease-in-out;
    }



    .title-dropdown-container {
    grid-column: 2 / span 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .title-dropdown {
    font-size: 24px;
    font-weight: 900;

    }
    select.title-dropdown {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.2px;
        margin: 0 auto;
        padding-left: .7emß
    }

    .title-bar .dropdown .caret {
    fill: white;
}*/

@media screen and (max-width: 400px) {
.title-dropdown {
    font-size: 13px;
    font-weight: 900;
}



}
}
